@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: MMedium;
  src: url("../assets/fonts/Medium.woff2");
}

@font-face {
  font-family: MRegular;
  src: url("../assets/fonts/Regular.woff2");
}

@font-face {
  font-family: NotoSansKR;
  src: url("../assets/fonts/NotoSansKR.otf");
}

html * {
  font-family: "MMedium", "NotoSansKR", sans-serif;
}
